body{
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 0;
}

.about-me {
   padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    font: 150% 'Sen', sans-serif;
   }

.about-me2 {
   color: #ffffff;
    text-align: left;
    font: 400 16px 'Sen', sans-serif;
    position: relative;
    display: flex;
   align-items: center;
   justify-content: flex-start}

.about-me-pic{
    padding: 0 80px 0 80px;
}

.about-me-text {
    width: 100%;
    font-size: 16px !important;
    font-weight: 200;
    line-height: 1.5;
}

.about-me-text h2{
    font-size: 2em;
}

.about-me-text p{
    font-size: 1em;
    color: #939BA5;
}

.testimonials{
    display: flex;
    flex-direction: column;
    padding: 5%;
    font:'Sen', sans-serif !important;
}

.testimonial-intro h2{
    font-size: 2em;
    margin-bottom: 0;
    font:'Sen', sans-serif !important;
}
.testimonial-intro p{
    font-size: 1em;
    color: #939BA5;
    
}
.testimonial-intro p2{
    font-size: 1em;
    color: #EDC1D2;
}
.testimonial-details{
   
    display: flex;
    flex-direction: column;
    font:'Sen', sans-serif;
    
}

.testimonial-details .left{
    width: 100%;
    margin: 0;
}

.testimonial-details .right{
    width: 100%;
    margin: 0;
}

.testimonial-details-text{
    padding: 10px 0 0 0 ;
    line-height: 1.5;
    font:  16px/150% 'Sen', sans-serif;
    color: #939BA5;
    font-style: italic;
    justify-content: baseline;
}

.testimonial-details img{
    width: 100%;
}

.testimonial-details-text p2{
   
    color:#C9CDD2;
    font-size: 1em;
    font:'Sen', sans-serif !important;
    
}

.testimonial-details-text p3{
    color:#5E6978;
    font-size: 1em;
    font:'Sen', sans-serif !important;

}
   

  .container {
      display: flex;
      align-items: start;
      flex-direction: column;
  }

  .smaller-round-image {
    width: 70px !important;
    height: auto !important;
    border-radius: 50% !important;
    margin-left: 0;
}

.bw-image {
    filter: grayscale(100%) contrast(100%);
}
.fab {
    font-size: 24px;
    width: 56px;
    height: 56px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: #FF4081;
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.20);
    text-align: center;
    line-height: 56px;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 768px){

  
  .about-me {
    flex-direction: row;
  }

  .about-me-text {
    width: 50%;
  }

  .about-me-text h2{
    font-size: 55px;
  }

  .about-me-text p{
    font-size: 18px;
  }

  .testimonial-details{
    flex-direction: row;
  }

  .testimonial-details .left, .testimonial-details .right{
    width: 50%;
  }

  .container {
    flex-direction: row;
  }
}